:root {
    color-scheme: dark;
    --text-color: #ffffff;
    --background-color: #32383f;
    --surface-color: #444c56;
    --control-color: #5e6977;
    --accent-color: #059fff;
    --accent-text-color: #ffffff;
    --error-color: #f84747;
}

html,
body {
    overflow: hidden;
    height: 100%;
}

html {
    font: 16px "Poppins", sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-user-select: none;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    color: var(--text-color);
    background-color: var(--background-color);
}

:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--accent-color);
    transition: box-shadow 100ms ease-in-out;
}

::placeholder {
    color: var(--text-color);
    opacity: 0.5;
}

::selection {
    background-color: var(--accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    border: 1px solid var(--control-color);
    box-sizing: border-box;
}

input,
textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    resize: none;
    border: none;
    border-radius: 8px;
    color: inherit;
    background-color: var(--surface-color);
    font: inherit;
}

button {
    height: 2.5em;
    margin: 0;
    padding: 0 1em;
    border: none;
    border-radius: 8px;
    color: var(--text-color);
    background-color: var(--surface-color);
    font: inherit;
}

button:hover {
    color: var(--accent-text-color);
    background-color: var(--accent-color);
}

.button-cluster {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    -webkit-user-select: none;
    user-select: none;
}

.button-cluster+.button-cluster {
    margin-top: 5px;
}

.button-cluster.right {
    justify-content: right;
}

.header {
    flex: 0 0 auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.header button {
    height: 3em;
}

#feed {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    border-radius: 8px;
}

.card {
    flex: 0 0 auto;
    height: fit-content;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--surface-color);
    -webkit-user-select: text;
    user-select: text;
}

.card>h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card>p {
    max-height: 150px;
    word-break: break-all;
    white-space: pre-wrap;
    overflow: auto;
}

.card>.button-cluster {
    margin-top: 5px;
}

#countdown>p {
    font-size: 1.5em;
    text-align: center;
}

dialog[open] {
    display: flex;
    flex-direction: column;
}

dialog {
    width: min(80%, 500px);
    padding: 20px;
    border: none;
    border-radius: 8px;
    color: var(--text-color);
    background-color: var(--surface-color);
    -webkit-user-select: none;
    user-select: none;
}

dialog::backdrop {
    background-color: black;
    opacity: 0.25;
}

.card button,
dialog button {
    background-color: var(--control-color);
}

.card button:hover,
dialog button:hover {
    color: var(--accent-text-color);
    background-color: var(--accent-color);
}

dialog>input,
dialog>textarea {
    background-color: var(--control-color);
}

dialog>input+.button-cluster,
dialog>textarea+.button-cluster {
    margin-top: 5px;
}

dialog>hr {
    width: 100%;
}

.warning {
    color: var(--error-color);
}