:root {
	--text-color: #ffffff;
	--background-color: #32383f;
	--surface-color: #444c56;
	--control-color: #5e6977;
	--accent-color: #059fff;
	--success-color: #6be16f;
	--error-color: #f84747;
}

html,
body {
	overflow: hidden;
	height: 100%;
}

html {
	font: 16px "Poppins", sans-serif;
	-webkit-text-size-adjust: 100%;
	-webkit-user-select: none;
	user-select: none;
}

body {
	display: flex;
	flex-direction: column;
	gap: 10px;
	box-sizing: border-box;
	margin: 0;
	padding: 20px;
	color: var(--text-color);
	background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

.split-container {
	display: flex;
	gap: 20px;
	height: 100%;
	overflow: hidden;
}

.split-container>div {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 10px;
	overflow: auto;
}

.card {
	height: 200px;
	background-color: var(--surface-color);
	flex: 0 0 auto;
	padding: 10px;
	border-radius: 8px;
}