body {
    display: flex;
    flex-direction: column;
    width: min(100%, 800px);
    margin: 0 auto;
}

body.enable-transitions {
    --easing: cubic-bezier(0.32, 0, 0.67, 0);
}

button {
    transition: background-color 100ms var(--easing);
}

button.icon {
    width: 2.25em;
    height: 2.25em;
    padding: 0;
    border-radius: 50%;
}

button.icon>i {
    font-size: 1.25em;
}

i {
    pointer-events: none;
}

.warning {
    color: var(--error-color);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
}

.list.screenshot-mode {
    position: absolute;
    width: 512px;
    height: fit-content;
    padding: 0.5rem;
}

.list>div {
    position: relative;
    width: 100%;
}

.list>div>h2 {
    background-color: transparent;
    font-weight: normal;
}

.list.bold>div>h2 {
    font-weight: bold;
}

.list>div>p {
    background-color: transparent;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-height: calc(3 * 1.5em);
}

.list>div>p[data-date] {
    color: var(--placeholder-text-color);
}

.list.multiline>div>p {
    white-space: pre-wrap;
}

.list>div>.controls {
    position: absolute;
    top: 0;
    right: 0.5rem;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    background-color: transparent;
    opacity: 0;
    font-size: 20px;
    transition: opacity 100ms var(--easing);
    pointer-events: none;
}

.list>div.hover>.controls {
    opacity: 1;
    pointer-events: auto;
}

.list.fill,
.list.outline {
    gap: 0.5rem;
}

.list.fill>div {
    background-color: var(--surface-color);
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
}

.list.outline>div {
    padding: 0.25rem 0.5rem;
    border: 0.125rem solid var(--surface-color);
    border-radius: 0.5rem;
}

button[data-delete] {
    --accent-color: var(--error-color);
}

#status-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#status {
    font-weight: normal;
}

#time {
    font-weight: normal;
}

#task-list {
    flex: 1;
}

#bottom-bar {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    position: relative;
    width: 100%;
    margin-top: 1rem;
}

#create-input {
    flex: 1;
    min-width: 0;
    border-radius: 100vh;
}

#menu {
    display: flex;
    flex-direction: row;
    background-color: var(--surface-color);
    border-radius: 100vh;
}

div.settings-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 0.25rem;
    margin-bottom: 0.5rem;
}

#screenshot-output {
    object-fit: contain;
    max-height: 400px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--surface-color);
}

#screenshot-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
}